.caja {
    width: 20px;
    height: 20px;
    padding: 20px;
    margin: 10px 20px 30px 40px;
    border: 2px solid #50B6BB;
    background-color: #FF9C91;
}
.caja2 {
    width: 30px;
    height: 30px;
    background-color: #FDEF96;
}